/* .link {
    color: rgb(153, 95, 95);
    text-align: center;
} */
.projectLink {
  color: #ffffff;
  border: none;
  display: inline-block;
  background: none;
  text-decoration: none;
}
.fade {
  color: black;
  animation: fadeIn ease-in forwards 1s;
  -webkit-animation: fadeIn ease-out forwards 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
