/* .link {
    color: rgb(153, 95, 95);
    text-align: center;
} */
.projectLink {
  color: #ffffff;
  border: none;
  
  background: none;
  text-decoration: none!important;
}
.fade {
  color: black;
  animation: fadeIn ease-in forwards 1s;
  -webkit-animation: fadeIn ease-out forwards 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.overlay:hover {
  opacity: 1;
}

.text {
  color: #000000;  
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
