.fade {
  display: inline-block;
  color: black;
  animation: fadeIn ease-in-out forwards 2s;
  -webkit-animation: fadeIn ease-in-out forwards 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
