.section {
    padding-top: 20px;
    padding-bottom: 60px;
}

.contact {
    max-width: 1000px;   
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    padding: 25px 5%;
    margin: 0 auto;
  }
.socialLink {
    color: #ffffff;
    border: none;    
    display: inline-block;    
    background: #000000;
    text-decoration: none;
    -webkit-transition: background 1s; 
    transition: background 1s; 
}
.socialLink:hover {
    background: #64c1e4;
    color: #FFFFFF;
}
.typeEffect{
    font-size: 40px;
}
 /* .linkedin{
    color: black;
    padding-right: 8px;
 }
 .github{
     color: black;  
     padding-right: 8px;
 }
 .twitter {
    color: black;  
    padding-right: 8px;
 }
  */