.section {
    padding-top: 20px;
    padding-bottom: 60px;
}
.socialLink {
    color: #ffffff;
    border: none;    
    display: inline-block;    
    background: #000000;
    text-decoration: none;
    -webkit-transition: background 1s; 
    transition: background 1s; 
}
.socialLink:hover {
    background: #64c1e4;
    color: #FFFFFF;
}

 /* .linkedin{
    color: black;
    padding-right: 8px;
 }
 .github{
     color: black;  
     padding-right: 8px;
 }
 .twitter {
    color: black;  
    padding-right: 8px;
 }
  */